<h1>Listado de Productos disponibles</h1>

{{#each products}}
  <h2>{{this.title}}</h2>
  <p>{{this.description}}</p>
  <p>{{this.price}}</p>
  <p>{{this.image}}</p>
  <p>{{this.stock}}</p>
  <p>{{this.codigo}}</p>
  <p>{{this.id}}</p>
{{/each}}