<h1>Producto Seleccionado</h1>
<h2>{{products.title}}</h2>
<p>{{products.description}}</p>
<p>{{products.price}}</p>
<p>{{products.image}}</p>
<p>{{products.stock}}</p>
<p>{{products.codigo}}</p>
<p>{{products.id}}</p>